/* ARQUIVO COPIADO DA AULA DO DIA 19/01/2018 */

/*RESET*/
html, body{
    width: 100vw;
    height: 100vh;
}
*{  padding: 0;
    box-sizing: border-box;
    margin: 0;
    vertical-align: top;
}

/*PADRÃO DO SITE*/
body{
    font-family: Helvetica;
}

/*NOTA INICIAL*/
.nota-inicial{
    background: yellow;
    width: 200px;
    height: 150px;
    padding: 5px;
    margin: 10px;
}
.nota-titulo{
    width: 100%;
    height: 15%;
    background: none;
    border: none;
    font-weight: bold;
}
.nota-texto{
    width: 100%;
    height: 70%;
    background: none;
    border: none;
}
.enviar-nota{
    text-transform: uppercase;
    background: none;
    border: none;
    float: right; 
}

/*NOVA NOTA*/

.nova-nota{
    background: yellow;
    width: 200px;
    height: 150px;
    padding: 5px;
    margin: 10px;
    display: inline-block;
}
.remover-nota{
    float: right;
    background: none;
    border: none;
}
